@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');


html, body{
    margin: 0;
    box-sizing: border-box;
    background-color: #FAFAFA;
}

*{
    text-decoration: none;
    font-family: 'Mulish', sans-serif;
}


header{
    background-color: #fff;
    box-shadow: 0 0 5px #DBDBDB;
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: center;
}

header a{
    color: black;
    transition: color 0.4s;
}

header a:hover{
    color: #EB236B;
}

.nav-logo a{
    font-weight: 700;
    font-size: 35px;
}


.nav-logo{
    margin-right: 80px;
}

.nav-links{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 80px;
}

.nav-links a{
    margin-left: 30px;
    font-size: 18px;
    font-weight: 600;
}

.nav-auth{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-auth a{
    font-weight: 600;
    font-size: 18px;
    margin-right: 20px;
    margin-left: 10px;
}

.posts{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.post{
    width: 500px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 2px #DBDBDB;
    margin-top: 20px;
}

.post-body a{
    color: black;
}

.post-author{
    display: flex;
    align-items: center;
}

.author-img{
    width: 50px;
}

.author-img img{
    width: 100%;
    border-radius: 50%;
}

.author-info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.author-info i{
    font-size: 10px;
}

.author-info a{
    margin-left: 10px;
    font-size: 18px;
    color: black;
    font-weight: 400;
}

.post-body .download-btn{
    width: 150px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px 20px;
    background-color: #2F58CD;
    color: #fff;
    border: none;
    font-weight: 500;
    cursor: pointer;
    border-radius: 5px;

}

.post-body i{
    margin-left: 5px;
}

.pagination{
  padding: 30px 0;
}

.pagination ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination a{
  display: inline-block;
  padding: 10px 18px;
  color: #222;
}

.p1 a{
  width: 40px;
  height: 40px;
  line-height: 40px;
  padding: 0;
  text-align: center;
}

.p1 a.is-active{
  background-color: #2ecc71;
  border-radius: 100%;
  color: #fff;
}






.post-details{
    border-radius: 5px;
    margin-right: auto;
    margin-top: 20px;
    margin-left: auto;
    width: 800px;
    background-color: #fff;
    height: 100%;
    padding: 20px;
}

.post-actions a{
    border-radius: 5px;
    margin-right: 10px;
    color: black;
    font-weight: 600;
    padding: 8px;
    color: #fff;
}

.post-actions #edit-post{
    background-color: #38E54D;
}

.post-actions #delete-post{
    background-color: red;
}

.post-deatils-info{
    width: 100%;
    display: flex;
    align-items: center;
}

.post-deatils-info span{
    margin-top: 10px;
}

.info_titles{
    width: 30%;
    display: flex;
    flex-direction: column;
}

.info_titles span{
    font-weight: bold;
}

.info_values{
    display: flex;
    flex-direction: column;
}














.profile{
    display: flex;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
}


.profile-details{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.profile-img{
    width: 200px;
    margin-right: 20px;
    transition: filter 0.7s;
}

.profile-img:hover{
    filter: brightness(50%);
}

.profile-img img{
    width: 100%;
    border-radius: 50%;
    cursor: pointer;
}

.profile-info{
    display: flex;
    flex-direction: column;
}

.profile-info b{
    margin-bottom: 20px;
    font-size: 30px;
}

.profile-edit{
    width: 50%;
    height: 100%;
}

.profile-edit form{
    width: 300px;
    display: flex;
    flex-direction: column;
}

.profile-edit form label{
    font-weight: 600;
    margin: 20px 0;
}

.profile-edit form input{
    padding: 8px;
    border: 1px solid #DBDBDB;
    border-radius: 5px;
    outline: none;
}

.profile-edit form button{
    margin-top: 20px;
    width: 150px;
    padding: 8px;
    border: none;
    background-color: #362FD9;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    color: #fff;
}






/* MODAL */

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}