{% extends "blog/base.html" %}
{% block content %}
    <h2 style="text-align: center">Посты {{ view.kwargs.username }} ({{ page_obj.paginator.count }})</h2>
    <div class="posts" style="margin-top: 0">
    {% for post in posts %}
            <div class="post">
                <div class="post-header">
                    <div class="post-author">
                        <div class="author-img">
                            <img src="{{ post.author.profile.image.url }}" alt="">
                        </div>
                        <div class="author-info">
                            <a href="{% url 'user-posts' post.author.username  %}">{{ post.author }}</a>
                            <i>{{ post.date_posted|date:"d.m.Y" }}</i>
                        </div>
                    </div>
                </div>

                <div class="post-body">
                    <h2><a href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
                    <p>{{ post.content }}</p>
                    {% if post.file %}
                    <a class="download-btn" href="{{ post.file.url }}"  download type="submit">Скачать файл <i class='bx bxs-download'></i></a>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
    {% if is_paginated %}
            <div id="app" class="container">
            <div class="pagination p1">
      <ul>
          {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}"><li><i class='bx bx-chevron-left' ></i></li></a>
          {% endif %}
          {% for num in page_obj.paginator.page_range %}
              {% if page_obj.number == num %}
                <a class="is-active" href="?page={{ num }}">{{ num }}</a>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            <a href="?page={{ num }}">{{ num }}</a>
            {% endif %}
              {% endfor %}
      {% if page_obj.has_next %}
           <a href="?page={{ page_obj.next_page_number }}"><i class='bx bx-chevron-right'></i></a></li>
          {% endif %}
      </ul>
            </div>
            </div>
                    {% endif %}
    </div>

{% endblock content %}
