{% extends "blog/base.html" %}
{% block content %}
    <div class="profile">
            <div class="profile-details">
                <div class="profile-img">
                    <img id="myBtn" src="{{ user.profile.image.url }}" alt="">
                </div>

                <div class="profile-info">
                    <b>{{ user.username }}</b>
                    <span>{{ user.email }}</span>
                </div>
            </div>

            <div class="profile-edit">
                <form method="post">
                  {% csrf_token %}
                    <h3>Редактировать профиль</h3>
                    <label for="username">Логин</label>
                    {{ u_form.username }}
                    <label for="email">Email</label>
                          {{ u_form.email }}
                    <button>Обновить профиль</button>
                </form>
            </div>
        </div>


    <!-- The Modal -->
    <div id="myModal" class="modal">

      <!-- Modal content -->
      <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Изменить изображение профиля</h2>

          <div style="display: flex; justify-content: space-around">
              <div class="profile-image">
                    <img style="border-radius: 50%; width: 200px; border: 1px solid #DBDBDB" id="blah" src="" alt="">
                </div>
            <div class="profile-img-edit">
                <form method="post" style="display: flex; flex-direction: column;" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ p_form.image }}
                    <button style="margin-top: 30px; width: 150px; border: none; border-radius: 5px; cursor:pointer; background: #2F58CD; padding: 8px; color: #fff">Обновить профиль</button>
                </form>
            </div>
          </div>

      </div>

    </div>





                  <script>
                     function readURL(input) {
                       if (input.files && input.files[0]) {
                           var reader = new FileReader();

                           reader.onload = function (e) {
                               $('#blah').attr('src', e.target.result);
                           }

                           reader.readAsDataURL(input.files[0]);
                       }
                    }

                    $("#id_image").change(function(){
                       readURL(this);
                    });

                let modal = document.getElementById("myModal");

                let btn = document.getElementById("myBtn");

                let span = document.getElementsByClassName("close")[0];

                btn.onclick = function() {
                  modal.style.display = "block";
                }

                span.onclick = function() {
                  modal.style.display = "none";
                }

                window.onclick = function(event) {
                  if (event.target === modal) {
                    modal.style.display = "none";
                  }
                }
                  </script>
{% endblock content %}
